@import 'base/vars';
@import 'base/reset';
@import 'base/utilidades';

@import 'layout/index';
@import 'layout/mediaqueries';

.input-container {
    position: relative;
}

input[type="text"] {
    padding-left: 30px; /* para que el texto no se solape con el icono */
    padding: 10px 0px 10px 30px;
    border-radius: 20px;
    outline: none;
    border: none;
    background-color: rgba(42, 44, 49, 0.855);
    color: rgba(255, 255, 255, 0.629);
}

.icon {
    position: absolute;
    top: 8px;
    left: 10px;
    width: 20px;
    height: 20px;
    background-image: url("../img/icons/lupa.png");
    background-repeat: no-repeat;
    background-position: center;
}