$bg-cuerpo: #1A1B1F;
$bg-tarjeta: #20232A;
$bg_tarjeta_deg: linear-gradient(to bottom, #252731, #0d0e14);
$bg_tarjeta_lastgame: linear-gradient(to bottom, #3f4250, #292b31);
$borde-tarjeta: #7e7e7e28;
$blanco-primary: #F3F4F7;
$bg-new: #F55157;
$color-new: #f1f1f1;
$bg-comprar: #2C2E3B;
$precio: #c9c9c9;
$blanco-secondary: #c6c6ca;
$blanco-third: #A7A8AD;
$azul-primary: #0A82EE;
$azul-secondary: #2A66A8;